<div class=" text-white py-8 px-16 rounded-full backdrop-blur-sm bg-murmur-grey-dark/80">
  <span class="pill-frosted__top font-semibold text-white"></span><br/>
  <span class="pill-frosted__bottom font-normal text-white"></span>
</div>