
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="breadcrumb max-w-screen-xl mx-auto my-10 text-murmur-grey-dark">
  <a href="/" class="text-murmur-grey-dark hover:underline"><strong>Home</strong></a> <strong>→</strong> <span>Inspiration</span>
</div>

<div class="gallery max-w-screen-xl my-14 mx-auto grid md:grid-cols-2 lg:grid-cols-3 gap-4 pb-14">
  <div class="group overflow-hidden relative">
    <img src="https://cdn.shopify.com/s/files/1/0604/6525/0464/files/01.jpg?v=1647624155" class="gallery-item cursor-pointer object-cover w-full h-full hover:scale-125 transition-transform duration-200" alt="placeholder" />
    <div class="item__overlay bg-murmur-grey-warm/80 absolute inset-0 grid place-center transition-transform duration-200 translate-y-[100%] group-hover:translate-y-0 pointer-events-none">
      <button class="text-lg font-semibold">View →</button>
    </div>
  </div>
  <div class="group overflow-hidden relative">
    <img src="https://cdn.shopify.com/s/files/1/0604/6525/0464/files/02.jpg?v=1647624155" class="gallery-item cursor-pointer object-cover w-full h-full hover:scale-125 transition-transform duration-200" alt="placeholder" />
    <div class="item__overlay bg-murmur-grey-warm/80 absolute inset-0 grid place-center transition-transform duration-200 translate-y-[100%] group-hover:translate-y-0 pointer-events-none">
      <button class="text-lg font-semibold">View →</button>
    </div>
  </div>
  <div class="group overflow-hidden relative">
    <img src="https://cdn.shopify.com/s/files/1/0604/6525/0464/files/03.jpg?v=1647624155" class="gallery-item cursor-pointer object-cover w-full h-full hover:scale-125 transition-transform duration-200" alt="placeholder" />
    <div class="item__overlay bg-murmur-grey-warm/80 absolute inset-0 grid place-center transition-transform duration-200 translate-y-[100%] group-hover:translate-y-0 pointer-events-none">
      <button class="text-lg font-semibold">View →</button>
    </div>
  </div>
  <div class="group overflow-hidden relative">
    <img src="https://cdn.shopify.com/s/files/1/0604/6525/0464/files/04.jpg?v=1647624155" class="gallery-item cursor-pointer object-cover w-full h-full hover:scale-125 transition-transform duration-200" alt="placeholder" />
    <div class="item__overlay bg-murmur-grey-warm/80 absolute inset-0 grid place-center transition-transform duration-200 translate-y-[100%] group-hover:translate-y-0 pointer-events-none">
      <button class="text-lg font-semibold">View →</button>
    </div>
  </div>
  <div class="group overflow-hidden relative">
    <img src="https://cdn.shopify.com/s/files/1/0604/6525/0464/files/05.jpg?v=1647624155" class="gallery-item cursor-pointer object-cover w-full h-full hover:scale-125 transition-transform duration-200" alt="placeholder" />
    <div class="item__overlay bg-murmur-grey-warm/80 absolute inset-0 grid place-center transition-transform duration-200 translate-y-[100%] group-hover:translate-y-0 pointer-events-none">
      <button class="text-lg font-semibold">View →</button>
    </div>
  </div>
  <div class="group overflow-hidden relative">
    <img src="https://cdn.shopify.com/s/files/1/0604/6525/0464/files/06.jpg?v=1647624155" class="gallery-item cursor-pointer object-cover w-full h-full hover:scale-125 transition-transform duration-200" alt="placeholder" />
    <div class="item__overlay bg-murmur-grey-warm/80 absolute inset-0 grid place-center transition-transform duration-200 translate-y-[100%] group-hover:translate-y-0 pointer-events-none">
      <button class="text-lg font-semibold">View →</button>
    </div>
  </div>
  <div class="group overflow-hidden relative">
    <img src="https://cdn.shopify.com/s/files/1/0604/6525/0464/files/07.jpg?v=1647624155" class="gallery-item cursor-pointer object-cover w-full h-full hover:scale-125 transition-transform duration-200" alt="placeholder" />
    <div class="item__overlay bg-murmur-grey-warm/80 absolute inset-0 grid place-center transition-transform duration-200 translate-y-[100%] group-hover:translate-y-0 pointer-events-none">
      <button class="text-lg font-semibold">View →</button>
    </div>
  </div>
  <div class="group overflow-hidden relative">
    <img src="https://cdn.shopify.com/s/files/1/0604/6525/0464/files/08.jpg?v=1647624155" class="gallery-item cursor-pointer object-cover w-full h-full hover:scale-125 transition-transform duration-200" alt="placeholder" />
    <div class="item__overlay bg-murmur-grey-warm/80 absolute inset-0 grid place-center transition-transform duration-200 translate-y-[100%] group-hover:translate-y-0 pointer-events-none">
      <button class="text-lg font-semibold">View →</button>
    </div>
  </div>
  <div class="group overflow-hidden relative">
    <img src="https://cdn.shopify.com/s/files/1/0604/6525/0464/files/09.jpg?v=1647624155" class="gallery-item cursor-pointer object-cover w-full h-full hover:scale-125 transition-transform duration-200" alt="placeholder" />
    <div class="item__overlay bg-murmur-grey-warm/80 absolute inset-0 grid place-center transition-transform duration-200 translate-y-[100%] group-hover:translate-y-0 pointer-events-none">
      <button class="text-lg font-semibold">View →</button>
    </div>
  </div>
</div>


<!-- <div class="max-w-screen-xl my-14 mx-auto">
  <hr class="my-14 bg-murmur-grey-light/50 h-[1px] border-none" />

  <h3 class="text-murmur-grey-dark font-semibold text-center md:text-left">Customers also viewed</h3>
</div>

<div class="max-w-screen-xl my-14 mx-auto grid md:grid-cols-2 lg:grid-cols-4 gap-4 text-center justify-center">
  <a href="#" >
    <img class="block mx-auto" src="https://via.placeholder.com/300" alt="placeholder" />
    <h4 class="mb-2 mt-2 text-murmur-grey-dark font-semibold">Product Name</h4>
    <p class="mt-0 text-murmur-grey-light"><strong>£50</strong></p>
  </a>
  <a href="#">
    <img class="block mx-auto" src="https://via.placeholder.com/300" alt="placeholder" />
    <h4 class="mb-2 mt-2 text-murmur-grey-dark font-semibold">Product Name</h4>
    <p class="mt-0 text-murmur-grey-light"><strong>£50</strong></p>
  </a>
  <a href="#">
    <img class="block mx-auto" src="https://via.placeholder.com/300" alt="placeholder" />
    <h4 class="mb-2 mt-2 text-murmur-grey-dark font-semibold">Product Name</h4>
    <p class="mt-0 text-murmur-grey-light"><strong>£50</strong></p>
  </a>
  <a href="#">
    <img class="block mx-auto" src="https://via.placeholder.com/300" alt="placeholder" />
    <h4 class="mb-2 mt-2 text-murmur-grey-dark font-semibold">Product Name</h4>
    <p class="mt-0 text-murmur-grey-light"><strong>£50</strong></p>
  </a>
</div> -->

<div class="overlay hidden place-content-center fixed inset-0 z-[100] bg-black/70">
  <div class="overlay-inner bg-white max-w-[90vw] max-h-[90vh] p-10">
    <div class="flex justify-end p-2">
      <button class="close w-[20px] relative -top-5 -right-5">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" fill="none" viewBox="0 0 18 17">
          <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"></path>
        </svg>
      </button>
    </div>
    <img class="w-full max-h-[80vh]" />
  </div>
</div>

<script>
    const gallery = document.querySelector(".gallery");
    const overlay = document.querySelector(".overlay");
    const overlayImage = overlay.querySelector("img");
    const overlayClose = overlay.querySelector(".close");

    function handleClick(e) {
      const src = e.currentTarget.src;
      overlayImage.src = src;
      overlay.classList.remove("hidden");
      overlay.classList.add("grid");
      overlay.addEventListener("click", close);
    }

    function close() {
      overlay.classList.add("hidden");
      overlay.classList.remove("grid");
    }

    const items = document.querySelectorAll(".gallery-item");

    items.forEach((item) => item.addEventListener("click", handleClick));

    overlayClose.addEventListener("click", close);
  </script>

{% schema %}
{
  "name": "main-page-inspiration",
  "tag": "section"
}
{% endschema %}